JENKINS_USER=your.name@example.com
JENKINS_TOKEN_INTEGRATION=your_api_token_here
JENKINS_TOKEN_STAGING=your_api_token_here
JENKINS_TOKEN_TEAMS=your_api_token_here
JENKINS_TOKEN_K8S_PIPELINE=your_api_token_here
JENKINS_TOKEN_CI=your_api_token_here
JENKINS_TOKEN_PRODUCTION=your_api_token_here
